<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_RECORDING" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleWebviewApp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".BillingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/webTheme" />
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/webTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ActivityStartUp"
            android:exported="true"
            android:theme="@style/webTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity" />
        <activity
            android:name=".CarDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PlateDetailsActivity"
            android:exported="false" />

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.INTEGRATION_MANAGER"
            android:value="webview"/>
        
        <meta-data
            android:name="applovin.sdk.key"
            android:value="XpXLLBlvn_QPs5ft1RmNVnl1fx5Ay0HT0zDASMvo2k4AlHXpC4PH5DiHrTT_ArW55inOz4Ozz5w0K1llQTZseE"/>
    </application>

</manifest>